<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>FlyAway<h1>
    <p>Welcome to FlyAway!</p>
    <div>
      <a href="/flights/new">Add a Flight</a>
    </div>  
    <div>
      <a href="/flights/view">View Flights</a>
    </div>
  </body>
</html>
