body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkgrey;
  
}

a {
  color: blue;
  
}

a:hover{
  color: white;
}

h1{
  color:darkolivegreen;
  text-align: center;
}







